/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.panel{
    height: 100vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9 ) , rgba(155, 207, 99, 0.9));
    color: rgb(255, 255, 255);
    overflow: scroll;
}
.dropdown{
  display: inline;

}
.table{
  overflow: scroll;
}
.btn-primary{
  background-color: rgb(81, 177, 72);
  border-color: rgb(81, 177, 120  );
}
